{% extends "main.html" %}


{% block body %}

<form method="POST">
    <h3> Choose country: </h3>
    <fieldset id="group1">
        <input type="radio" name="country" value="rs" class="radio" checked> Serbia <br>
        <input type="radio" name="country" value="gb" class="radio"> Great Britain <br>
        <input type="radio" name="country" value="us" class="radio"> United States of America <br>
    </fieldset>



    <h3> Choose category: </h3>
    <fieldset id="group2">
        <input type="radio" name="category" value="general" class="radio" checked> General <br>
        <input type="radio" name="category" value="entertainment" class="radio"> Entertainment <br>
        <input type="radio" name="category" value="business" class="radio"> Business <br>
        <input type="radio" name="category" value="health" class="radio"> Health <br>
        <input type="radio" name="category" value="science" class="radio"> Science <br>
        <input type="radio" name="category" value="sports" class="radio"> Sports <br>
        <input type="radio" name="category" value="technology" class="radio"> Tehnologija <br>
    </fieldset>
    <br>
    <input id="btnSend" type="submit" class="btn" value="Send">
</form>

<div id="ajax_headlines">
    <h2 id="ajax_title" class="sakrij">Top headlines:</h2>
    <div class="container sakrij" id="panel_top_headlines">
    </div>

    <ul id="ajax_headlines_list">
    </ul>
</div>

<br>



{% end %}