<!DOCTYPE html>
<html>

<head>
    <title>Log In</title>
</head>

<body>
    <div id="login-form">
        <form action="/login" method="POST">
            <fieldset>
                <label for="username">Username</label>
                <input name="username" type="text" value="">
            </fieldset>

            <fieldset>
                <label for="password">Password</label>
                <input name="password" type="password" value="">
            </fieldset>
            <input type="submit" value="Log In">

        </form>
    </div>

    <div>
        <form action="/login" method = "POST">
            <button name="btnSignIn" class="btn" id="btnSignIn"> Sign Up </button>
        </form>
    </div>

</body>


</html>