{% extends "main.html" %}

{% block body %}

<body>

    <div class="navbar">
        <a href="http://localhost:8000/">
            <img src="static/images/logo1.png" alt="NewsStream" width="60px" height="55px">
        </a>

    </div>
    
    <div id="login-form">
        <form action="/login" method="POST">
            <fieldset>

                <div class="input-group margin-bottom-sm">
                    <span for="username"><i class="fa fa-user fa-fw"></i></span>
                    <input class="form-control" name="username" type="text" value="" placeholder="Username">
                </div>

            </fieldset>

            <fieldset>
                <div class="input-group margin-bottom-sm">
                    <span for="password"><i class="fa fa-key fa-fw"></i></span>
                    <input class="form-control" name="password" type="password" value="" placeholder="Password">
                </div>
            </fieldset>

            <input type="submit" class="btn" value="Log In">

        </form>
    </div>

    <br>

    <div>
        <form action="/login" method="POST">
            <div class="input-group margin-bottom-sm">
                <label for="btnSignIn">Don't have an account?</label>
                <button name="btnSignIn" id="btnSignIn" class="btnSignIn"> Sign Up </button>
            </div>
        </form>
    </div>

    <br>

</body>



{% end %}