{% extends "main.html" %}

{% block body %}

<body>
    
    <div class="navbar">
        <a href="http://localhost:8000/">
            <img src="static/images/logo1.png" alt="NewsStream" width="60px" height="55px">
        </a>

    </div>

    <div id="login-form">
        <form action="/signin" method="POST">

            <fieldset>
                <div class="input-group margin-bottom-sm">
                    <span for="email"><i class="fa fa-envelope-o fa-fw"></i></span>
                    <input class="form-control" name="email" type="email" value="" placeholder="Email address">
                </div>
            </fieldset>


            <fieldset>
                <div class="input-group margin-bottom-sm">
                    <span for="username"><i class="fa fa-user fa-fw"></i></span>
                    <input class="form-control" name="username" type="text" value="" placeholder="Username">
                </div>
            </fieldset>



            <fieldset>
                <div class="input-group margin-bottom-sm">
                    <span for="password"><i class="fa fa-key fa-fw"></i></span>
                    <input class="form-control" name="password" type="password" value="" placeholder="Password">
                </div>
            </fieldset>


            <input class="btn" type="submit" value="Sign Up">
            {% module xsrf_form_html() %}

        </form>
    </div>

    <br>

</body>



{% end %}