<!DOCTYPE html>
<html>

<head>
    <title>Sign in</title>
</head>

<body>
    <div id="login-form">
        <form action="/signin" method="POST">

            <fieldset>
                <label for="email">e-mail</label>
                <input name="email" type="email" value="">
            </fieldset>


            <fieldset>
                <label for="username">Username</label>
                <input name="username" type="text" value="">
            </fieldset>



            <fieldset>
                <label for="password">Password</label>
                <input name="password" type="password" value="">
            </fieldset>
            <input type="submit" value="Sign Up">

        </form>
    </div>

</body>


</html>